@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans');
}
  @font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans Bold');
}

h1{
  font: 20px 'Open Sans Bold';
  color:#fff;
  line-height: 44px;
  margin: 0;
}

h2{
  font: 17px 'Open Sans Bold';
  color:#000;
}

h3{
  font: 14px 'Open Sans Bold';
  color:#000;
}

section {
  font-family: 'Open Sans Bold';
  font-size:20px;
  line-height:44px;
  color:#333333;
}

select{
  height: 20px;
  line-height: 40px;
  font: 11px 'Open Sans';
  margin: auto;
}

button{
  height: 20px;
  line-height: 40px;
  font: 11px 'Open Sans';
  margin: auto;
}

body {
  font: 11px 'Open Sans';
  width: 100%;
  margin: auto;
  text-align: center;
  color:#888888;
}

#navigation{
  background-color:#444444;
  height: 40px;
  line-height: 40px;
}

#header{
  background-color:#333333;
  line-height: 40px;
}

#wrap {
  width:97%;
  margin:0 auto;
}

#left_column {
  text-align: left;
  width:70%;
  margin:0 auto;
  float:left;
}

#right_column {
  text-align: left;
  width:30%;
  margin:0 auto;
  float:right;
}

#five_columns {
  text-align: left;
  width:20%;
  margin:0 auto;
  float:left;
}

#three_columns {
  text-align: left;
  width:33%;
  margin:0 auto;
  float:left;
}

#two_columns {
  text-align: left;
  width:50%;
  margin:0 auto;
  float:left;
}

#one_column {
  text-align: left;
  width:100%;
  margin:0 auto;
  float:left;
  padding: 5px;
}

#one_column_center {
  text-align: center;
  width:900px;
  margin:0 auto;
  float:center;
}

.main-content {
  max-width: 100%;
  min-width: 100%;
  text-align: justify;
  margin: auto;
  padding: 5px;
}

.two_images img {
  width: 700px;
  padding: 5px;
  float: left;
  /* display: inline; */
}

.one_image_1000 img {
  width: 1000px;
  padding: 5px;
  float: left;
  /* display: inline; */
}

.one_image_1200 img {
  width: 1200px;
  padding: 5px;
  float: left;
  /* display: inline; */
}

.one_image_1400 img {
  width: 1400px;
  padding: 5px;
  float: left;
  /* display: inline; */
}

.one_image_100percent img {
  width: 100%;
  padding: 5px;
  float: left;
  /* display: inline; */
}

a.class1{
  font: 12px 'Open Sans Bold';
}
a.class1:link {color: #444; text-decoration:none;}
a.class1:visited {color: #444;}
a.class1:hover {color: #55acee;}


a.class2{
  font: 11px 'Open Sans';
}
a.class2:link {color: #888; text-decoration:none;}
a.class2:visited {color: #888;}
a.class2:hover {color: #55acee;}

a:link {color: #55acee;}
a:visited {color: #55acee;}
a:hover {color: #000;}
a:active {color: #55acee;}
