<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Details for document {{ doc_id }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="navigation">
        <select onChange="window.location.href=((this.value == 'topic cloud') ? '/topic_cloud.html' : (this.value == 'vocabulary') ? '/vocabulary.html' : (this.value == 'topic loading similarity') ? '/topic_loading_similarity/' : '/')">
            <option selected="selected" disabled="disabled">Select page</option>
            <option>topic list and overview</option>
            <option>topic cloud</option>
            <option>vocabulary</option>
            <option>topic loading similarity</option>
        </select>
        -
        <select onChange="window.location.href='../topic/'+this.value.split(' ')[1].slice(0, -1)+'.html'">
            <option selected="selected" disabled="disabled">Select a topic to see details</option>
            {% for i in topic_ids %}
                <option>{{ i }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="header">
        <h1>Details for document {{ doc_id }}</h1>
        <p>Title: {{ title }} --- Author: {{ authors }}</p>
        <p>Date: {{ year }} --- Affiliation: {{ affiliation }} --- Dataset: {{ dataset }} --- Identifier: {{ id }}</p>
    </div>
    <div id="one_column">
        <div class="main-content">
            <h2>Topic loading for document {{ doc_id }}</h2>
            {{ doc_topic_loading_barplot | safe }}
        </div>
    </div>
    <div id="wrap">
        <div id="left_column">
            <h2>Similar documents (top 5)</h2>
            <ul>
                {% for doc in documents %}
                    <li>
                        <a href="../document/{{ doc[5] }}.html">{{ doc[0] }}</a> ({{ doc[6] }})
                        <br>
                        Author: {{ doc[1] }}
                        <br>
                        Date: {{ doc[2] }}
                        <br>
                        Affiliation: {{ doc[3] }}
                        <br>
                        Dataset: {{ doc[4] }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="right_column">
            <h2>Vector representation</h2>
            <ul>
                {% for weighted_word in words %}
                    {% if weighted_word[1] > 0 %}
                        <li><strong><a href="../word/{{ weighted_word[2] }}.html">{{ weighted_word[0] }}</a></strong> ({{ weighted_word[1] }})</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="wrap">
        <div id="left_column">
            <h2>Full text for document {{ doc_id }}</h2>
            <h3>Title: {{ title }}</h3>
            <h4>Author: {{ authors }}</h4>
            <h4>Date: {{ year }}</h4>
            <h4>Affiliation: {{ affiliation }}</h4>
            <h4>Dataset: {{ dataset }}</h4>
            <h4>Identifier: {{ id }}</h4>
            {{ full_text }}
        </div>
    </div>
</body>
