<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Details for topic {{ topic_id }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<div id="navigation">
    <select onChange="window.location.href=((this.value == 'topic cloud') ? '/topic_cloud.html' : (this.value == 'vocabulary') ? '/vocabulary.html' : (this.value == 'topic loading similarity') ? '/topic_loading_similarity/' : '/')">
        <option selected="selected" disabled="disabled">Select page</option>
        <option>topic list and overview</option>
        <option>topic cloud</option>
        <option>vocabulary</option>
        <option>topic loading similarity</option>
    </select>
    -
    <select onChange="window.location.href='../topic/'+this.value.split(' ')[1].slice(0, -1)+'.html'">
        <option selected="selected" disabled="disabled">Select a topic to see details</option>
        {% for i in topic_ids %}
            <option>{{ i }}</option>
        {% endfor %}
    </select>
</div>
<div id="header">
    <h1>Details for topic {{ topic_id }}</h1>
    <p>Overall frequency : {{ frequency }}%</p>
</div>
<div id="wrap">
    <div id="one_column_center">
        <h2>Most relevant words</h2>
        {{ topic_word_weight_barplot | safe }}
    </div>
    <div>
        <h2>Related documents ({{documents|length}})</h2>
        <table id="documents" class="display" cellspacing="0" width="900px">
                <thead>
                <tr>
                <th>Association Rank</th>
                <th>Title</th>
                <th>Dataset</th>
                <th>Affiliation</th>
                <th>Author(s)</th>
                <th>Date</th>
                <th>Identifier</th>
                </tr>
                </thead>
                <tbody>
                {% for doc in documents %}
                <tr>
                        <td>{{ doc[0] }}</td>
                        <td>{{ doc[1] }}</td>
                        <td>{{ doc[2] }}</td>
                        <td>{{ doc[3] }}</td>
                        <td>{{ doc[4] }}</td>
                        <td>{{ doc[5] }}</td>
                        <td><a href="../document/{{ doc[7] }}.html">{{ doc[6] }}</a></td>
                </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
    <div id="one_column_center">
        <h2>Topic frequency</h2>
        {{ topic_over_time_percent_line | safe }}
    </div>
    <!-- <div id="one_column_center">
        <h2>Author network</h2>
        <author-network></author-network>
    </div> -->
    <div id="one_column_center">
        <h2>Number of documents per affiliation</h2>
        {{ topic_affiliation_count_barplot | safe }}
    </div>
</div>
</body>
<script>
    $(document).ready(function(){
        $('#documents').DataTable( {
            dom: 'Blfrtip',
            aLengthMenu: [
                [10, 50, 100, 200,  -1],
                [10, 50, 100, 200, 'All']
            ],
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        } );
    } );
</script>
