<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>Vocabulary</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
    <div id="navigation">
        <select onChange="window.location.href=((this.value == 'topic cloud') ? '/topic_cloud.html' : (this.value == 'vocabulary') ? '/vocabulary.html' : (this.value == 'topic loading similarity') ? '/topic_loading_similarity/' : '/')">
            <option selected="selected" disabled="disabled">Select page</option>
            <option>topic list and overview</option>
            <option>topic cloud</option>
            <option>vocabulary</option>
            <option>topic loading similarity</option>
        </select>
        -
        <select onChange="window.location.href='topic/'+this.value.split(' ')[1].slice(0, -1)+'.html'">
            <option selected="selected" disabled="disabled">Select a topic to see details</option>
            {% for i in topic_ids %}
                <option>{{ i }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="header">
        <h1>Vocabulary</h1>
        Number of words : {{ vocabulary_size }}
    </div>
    <div id="wrap">
    {% for vocabulary in split_vocabulary %}
        <div id="five_columns">
            <ul>
                {% for indexed_word in vocabulary %}
                    <li><a href="word/{{ indexed_word[0] }}.html">{{ indexed_word[1] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
</body>
