<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Details for {{ word }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script src="https://cdn.plot.ly/plotly-latest.js"></script>
</head>
<body>
    <div id="navigation">
      <select onChange="window.location.href=((this.value == 'topic cloud') ? '/topic_cloud.html' : (this.value == 'vocabulary') ? '/vocabulary.html' : (this.value == 'topic loading similarity') ? '/topic_loading_similarity/' : '/')">
          <option selected="selected" disabled="disabled">Select page</option>
          <option>topic list and overview</option>
          <option>topic cloud</option>
          <option>vocabulary</option>
          <option>topic loading similarity</option>
        </select>
        -
        <select onChange="window.location.href='../topic/'+this.value.split(' ')[1].slice(0, -1)+'.html'">
            <option selected="selected" disabled="disabled">Select a topic to see details</option>
            {% for i in topic_ids %}
                <option>{{ i }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="header">
        <h1>Details for <i>{{ word }}</i></h1>
        <p>Word number: {{ word_id }}</p>
    </div>
    <div id="one_column">
        <div class="main-content">
            <h2>Topic loading for <i>{{ word }}</i></h2>
            {{ word_topic_loading_barplot | safe }}
        </div>
    </div>
    <div id="wrap">
        <div id="left_column">
            <h2>Related documents ({{documents|length}}; sorted)</h2>
            <ul>
                {% for doc in documents %}
                    <li>
                        <strong><a href="../document/{{ doc[5] }}.html">{{ doc[0] }}</a></strong>
                        <br>
                        Author: {{ doc[1] }}
                        <br>
                        Date: {{ doc[2] }}
                        <br>
                        Affiliation: {{ doc[3] }}
                        <br>
                        Dataset: {{ doc[4] }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
